*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.432),rgba(0, 0, 139, 0.973));
    display: flex;
    align-items: center;
    place-content: center;
  
   
}

.main{
    height: 350px;
    width: 300px;
    background: linear-gradient(rgba(255, 0, 0, 0.603),rgba(0, 0, 255, 0.459));
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   place-content: center;
  
}


 #inputs{
    width:100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
 }


 .details p{
    margin: 10px 0px;
    font-size: 30px;
    color: lightblue;
 }


 #button{
    width: 50%;
    padding:5px;
    border-radius: 50px;
    border: none;
    font-size:15px;
    background: linear-gradient(to left,rgba(255, 255, 0, 0.404),rgba(0, 0, 255, 0.719));
    color: rgba(255, 255, 255, 0.74);

    font-weight: 600;
    
 }